@import "file:////media/edgw_/ws/edgw-pages/node_modules/.pnpm/vuepress-theme-hope@2.0.0-rc.98_markdown-it@14.1.0_sass-embedded@1.93.3_sass@1.93.3_vue_e5d562b886db59472101e4e9fa7f000e/node_modules/vuepress-theme-hope/templates/palette/config.scss";
@import "file:////media/edgw_/ws/edgw-pages/.vuepress/styles/config.scss";
